/*=========================================
            RESET GENERAL
==========================================*/

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}


html{
    scroll-behavior:smooth;
}



/*=========================================
                BODY
==========================================*/

body{

    background-image:
    linear-gradient(
    rgba(222,242,255,.80),
    rgba(222,242,255,.80)
    ),
    url("../img/img11.jfif");

    background-size:cover;

    background-position:center;

    background-repeat:no-repeat;

    background-attachment:fixed;

    padding-top:90px;

    color:#333;

}



/*=========================================
                HEADER
==========================================*/

header{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    background:#F8D7DA;

    padding:18px;

    box-shadow:
    0 3px 10px rgba(0,0,0,.15);

    z-index:1000;

}



/*=========================================
                MENU
==========================================*/


.menu{

    display:flex;

    justify-content:center;

    align-items:center;

    gap:35px;

    list-style:none;

}


.menu li a{

    text-decoration:none;

    color:#8B2525;

    font-size:20px;

    font-weight:bold;

    transition:.3s;

}


.menu li a:hover{

    color:#D94F70;

    transform:translateY(-3px);

}




/*=========================================
                BANNER
==========================================*/


.banner{

    width:92%;

    max-width:1250px;

    height:420px;

    margin:40px auto;

    position:relative;

    overflow:hidden;

    border-radius:35px;

    box-shadow:
    0 15px 30px rgba(194,29,29,.35);

}



.banner img{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:.6s;

}



.banner:hover img{

    transform:scale(1.08);

}



.banner::before{

    content:"";

    position:absolute;

    inset:0;

    background:
    rgba(24,50,99,.25);

}



.banner-texto{

    position:absolute;

    top:50%;

    left:50%;

    transform:translate(-50%,-50%);

    width:80%;

    text-align:center;

    color:white;

}



.banner-texto h1{

    font-size:55px;

    margin-bottom:20px;

    text-shadow:
    0 4px 10px #8B1111;

}



.banner-texto p{

    font-size:21px;

    line-height:1.8;

    text-shadow:
    0 3px 8px rgba(0,0,0,.5);

}





/*=========================================
            HISTORIA
==========================================*/


.historia{

    width:92%;

    max-width:1250px;

    margin:70px auto;

    display:flex;

    align-items:center;

    gap:45px;

}



.historia-img{

    flex:1;

}



.historia-img img{

    width:100%;

    height:280px;

    object-fit:cover;

    border-radius:25px;

    box-shadow:
    0 12px 25px rgba(0,0,0,.18);

    transition:.4s;

}



.historia-img img:hover{

    transform:scale(1.05);

}




.historia-texto{

    flex:1;

    background:white;

    padding:40px;

    border-radius:30px;

    box-shadow:
    0 12px 25px rgba(0,0,0,.15);

}



.historia-texto h2{

    color:#6A5ACD;

    font-size:38px;

    margin-bottom:25px;

}



.historia-texto p{

    color:#555;

    font-size:18px;

    line-height:1.9;

    margin-bottom:18px;

}
/*=========================================
            MISIÓN Y VISIÓN
==========================================*/


.mision-vision{

    width:92%;

    max-width:1250px;

    margin:70px auto;

    display:flex;

    justify-content:center;

    gap:35px;

}




.caja{

    flex:1;

    background:white;

    border-radius:30px;

    overflow:hidden;

    box-shadow:
    0 12px 25px rgba(0,0,0,.15);

    transition:.4s;

    text-align:center;

}




.caja:hover{

    transform:translateY(-10px);

    box-shadow:
    0 18px 35px rgba(0,0,0,.20);

}




/* IMÁGENES MISIÓN Y VISIÓN */

.caja img{

    width:100%;

    height:230px;

    object-fit:cover;

    transition:.5s;

}




.caja:hover img{

    transform:scale(1.05);

}




.caja h2{

    color:#6A5ACD;

    text-align:center;

    margin:25px 0 15px;

    font-size:32px;

}




.caja p{

    padding:0 30px 35px;

    color:#555;

    line-height:1.9;

    font-size:17px;

    text-align:center;

}







/*=========================================
                VALORES
==========================================*/


.valores{

    width:92%;

    max-width:1250px;

    margin:80px auto;

    text-align:center;

}




.valores h2{

    color:#6A5ACD;

    font-size:42px;

    margin-bottom:45px;

}





.contenedor-valores{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:30px;

}





.valor{

    background:white;

    border-radius:25px;

    padding:25px;

    box-shadow:
    0 10px 20px rgba(0,0,0,.15);

    transition:.35s;

}




.valor:hover{

    transform:translateY(-10px);

    background:#F5EEFF;

}





/* IMÁGENES DE VALORES */

.valor img{

    width:100%;

    height:160px;

    object-fit:cover;

    border-radius:15px;

    margin-bottom:20px;

    transition:.4s;

}




.valor:hover img{

    transform:scale(1.08);

}





.valor h3{

    color:#6A5ACD;

    margin-bottom:12px;

    font-size:25px;

}




.valor p{

    color:#555;

    line-height:1.8;

    font-size:16px;

}







/*=========================================
        ¿POR QUÉ ELEGIRNOS?
==========================================*/


.porque{

    width:92%;

    max-width:1250px;

    margin:80px auto;

    text-align:center;

}




.porque h2{

    color:#6A5ACD;

    font-size:42px;

    margin-bottom:45px;

}




.porque-grid{

    display:grid;

    grid-template-columns:repeat(2,1fr);

    gap:30px;

}





.item{

    background:white;

    border-radius:25px;

    padding:35px;

    box-shadow:

    0 10px 20px rgba(0,0,0,.15);

    transition:.35s;

}




.item:hover{

    transform:translateY(-10px);

    background:#EAF7FF;

}





.item h3{

    color:#6A5ACD;

    font-size:28px;

    margin-bottom:18px;

}




.item p{

    color:#555;

    line-height:1.8;

    font-size:17px;

}







/*=========================================
                BOTONES
==========================================*/


.botones{

    width:92%;

    max-width:1200px;

    margin:80px auto;

    display:flex;

    justify-content:center;

    gap:35px;

}




.btn{

    text-decoration:none;

    background:

    linear-gradient(
    135deg,
    #7EC8F8,
    #BDA7F2
    );


    color:white;

    padding:18px 40px;

    border-radius:40px;

    font-size:20px;

    font-weight:bold;

    box-shadow:

    0 8px 18px rgba(0,0,0,.15);

    transition:.35s;

}




.btn:hover{

    transform:translateY(-6px);

    box-shadow:

    0 15px 25px rgba(0,0,0,.22);

}





/*=========================================
                FOOTER
==========================================*/


footer{

    margin-top:80px;

    background:

    linear-gradient(
    135deg,
    #7EC8F8,
    #BDA7F2
    );

    color:white;

    text-align:center;

    padding:45px 20px;

    box-shadow:

    0 -5px 15px rgba(0,0,0,.15);

}





footer h3{

    font-size:30px;

    margin-bottom:15px;

}




footer p{

    margin:8px 0;

    font-size:17px;

    line-height:1.8;

}
/*=========================================
            ANIMACIONES
==========================================*/


@keyframes aparecer{


    from{

        opacity:0;

        transform:translateY(50px);

    }


    to{

        opacity:1;

        transform:translateY(0);

    }

}





.banner,
.historia,
.caja,
.valor,
.item,
.botones,
footer{


    animation:

    aparecer .9s ease;

}






/*=========================================
            TABLET
==========================================*/


@media(max-width:1000px){



.historia{


    flex-direction:column;


}




.historia-img,
.historia-texto{


    width:100%;


}





.mision-vision{


    flex-direction:column;


}




.caja{


    width:100%;


}





.contenedor-valores{


    grid-template-columns:repeat(2,1fr);


}





.porque-grid{


    grid-template-columns:1fr;


}



}









/*=========================================
            CELULAR
==========================================*/


@media(max-width:768px){



header{


    padding:15px;


}





.menu{


    flex-direction:column;


    gap:18px;


}





.banner{


    height:300px;


}





.banner-texto h1{


    font-size:38px;


}





.banner-texto p{


    font-size:17px;


}





.historia{


    width:90%;


}





.historia-img img{


    height:220px;


}





.historia-texto{


    padding:25px;


}





.historia-texto h2{


    font-size:30px;


}





.historia-texto p{


    font-size:16px;


}







.caja img{


    height:200px;


}





.caja h2{


    font-size:27px;


}





.caja p{


    font-size:16px;


}







.contenedor-valores{


    grid-template-columns:1fr;


}





.valor{


    padding:25px;


}





.valor img{


    height:180px;


}







.porque h2,
.valores h2{


    font-size:34px;


}





.item{


    padding:25px;


}





.botones{


    flex-direction:column;


    align-items:center;


}





.btn{


    width:280px;


    text-align:center;


}





footer h3{


    font-size:24px;


}



}








/*=========================================
        CELULAR PEQUEÑO
==========================================*/


@media(max-width:600px){



.banner-texto h1{


    font-size:30px;


}





.banner-texto p{


    font-size:15px;


}





.caja img{


    height:180px;


}





.valor img{


    height:160px;


}



}








/*=========================================
    AJUSTE FINAL IMÁGENES NOSOTROS
    VARIEDADES R&M
==========================================*/



/* Historia */

.historia-img img{


    width:100%;


    height:280px;


    object-fit:cover;


    border-radius:25px;


}






/* Misión y Visión */


.caja img{


    width:100%;


    height:230px;


    object-fit:cover;


}







/* Valores */


.valor img{


    width:100%;


    height:160px;


    object-fit:cover;


    border-radius:15px;


}







/* Evita crecimiento exagerado */


.caja{


    min-height:500px;


}





.valor{


    min-height:330px;


}





@media(max-width:768px){



.historia-img img{


    height:220px;


}





.caja img{


    height:200px;


}





.valor img{


    height:180px;


}



}